PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=StrongPassword123
DB_NAME=ecommerce_ashoka
DB_DIALECT=mysql
JWT_SECRET=your_super_secret_key_change_this

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=vedhindia@gmail.com
MAIL_PASS=ltwtcjxaqxizmysi   # 16 characters, NO spaces
ADMIN_EMAIL=vedhindia@gmail.com

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_RBSz3XNzt6BanC
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET_HERE

# Borzo (Courier) Configuration
BORZO_BASE_URL=https://robotapitest-in.borzodelivery.com/api/business/1.6
BORZO_AUTH_TOKEN=5610FA4A353A11416302CA843652921315280138
BORZO_WAREHOUSE_ADDRESS=Gat No - 1567 Shelarvasti near Shelar crane service Chikhali Pune - 411062BORZO_WAREHOUSE_NAME=Ashoka Warehouse
BORZO_WAREHOUSE_PHONE=917498673439
BORZO_DEFAULT_COUNTRY_CODE=91




